<%= form_with(model: @maintenance, html: { class: "needs-validation" }) do |form| %>
  <% if @maintenance.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
        <% @maintenance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="part1" class="mb-3">
    <h3>Parte 1: Seleccione el tipo de motor</h3>

    <div class="form-group">
      <%= form.label :equipment_type_id, "Elija el tipo de motor:" %>
      <%= form.collection_select :equipment_type_id, EquipmentType.all, :id, :name, { prompt: 'Seleccione un tipo de equipo' }, { id: 'equipment-type-select', class: 'form-control' } %>
    </div>
  </div>

  <div id="part2" class="mb-3" style="display: none;">
    <h3>Parte 2: Complete los detalles</h3>

    <div class="form-group">
      <%= form.label :motor_id, "Elija el nombre del motor:" %>
      <%= form.select :motor_id, {}, { prompt: 'Seleccione un motor' }, { id: 'motor-select', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :maintenance_type_id, "Elija el tipo de mantenimiento:" %>
      <%= form.collection_select :maintenance_type_id, MaintenanceType.all, :id, :name, { prompt: 'Seleccione un tipo de mantenimiento' }, { id: 'maintenance-type-select', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :date, "Fecha:" %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :email, "Correo Electrónico del Técnico:" %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :city_id, "Elija la ciudad:" %>
      <%= form.collection_select :city_id, City.all, :id, :name, { prompt: 'Seleccione una ciudad' }, { id: 'city-select', class: 'form-control' } %>
    </div>
    
    
  <div class="form-group">
    <%= form.label :materials, "Materiales utilizados:" %>
    <%= form.collection_check_boxes :material_ids, Material.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.check_box(class: 'form-check-input') %>
        <%= cb.label(class: 'form-check-label') %>
      </div>
    <% end %>
  </div>


    <%= form.submit "Enviar", class: "btn btn-primary mt-2" %>
  </div>
</div>
<% end %>
<script>

  document.addEventListener('DOMContentLoaded', function() {

      const equipmentTypeSelect = document.getElementById('equipment-type-select');
      const motorSelect = document.getElementById('motor-select');
      const part2 = document.getElementById('part2');

      const equipmentTypeToMotors = {
        1: <%= raw @motors_for_equipment_type_1.to_json %>,
        2: <%= raw @motors_for_equipment_type_2.to_json %>,
      };

      function updateMotorOptions() {
        const selectedEquipmentType = equipmentTypeSelect.value;
        const motors = equipmentTypeToMotors[selectedEquipmentType] || [];
        const motorSelectOptions = motorSelect.options;

        while (motorSelectOptions.length > 0) {
          motorSelectOptions.remove(0);
        }

        motors.forEach(function(motor) {
          const option = new Option(motor.name, motor.id);
          motorSelect.appendChild(option);
        });

        if (selectedEquipmentType !== "") {
          part2.style.display = "block";
        } else {
          part2.style.display = "none";
        }
      }

      equipmentTypeSelect.addEventListener('change', updateMotorOptions);

      updateMotorOptions();
    });
</script>