<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Motor name:</strong>
    <%= maintenance.motor_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= maintenance.email %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= maintenance.motor_id %>
  </p>

  <p>
    <strong>Maintenance type:</strong>
    <%= maintenance.maintenance_type_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city_id %>
  </p>

</div>
