<div id="<%= dom_id motor %>">
  <p>
    <strong>Name:</strong>
    <%= motor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= motor.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= motor.photo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= motor.user_id %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= motor.equipment_type_id %>
  </p>

</div>
